*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-image: url(bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

}
nav{
    background-color: black;
    position: sticky;
    top: 0.1px;
}
.image{
    height: 150px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 100px;
}
.navbar2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}
a{
    text-decoration: none;
}
.anchor{
    text-decoration: none;
}
a:hover{
    color: antiquewhite;
}
.list{
    font-weight: bolder;
    
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    margin: 10px 50px 30px 100px;
    color: rgb(255, 255, 255);
    font-size: 40px;

}
.photos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.images{
    width: 300px;
    height: 200px;
}
.images:hover{
    opacity: 0.7;
}
.container {
    position: relative;
 /* Maximum width */
    margin: 0 auto; /* Center it */
}
  
.container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 86.8%;
    padding: 20px; /* Some padding */
  }
  .innerbox{
      display: flex;
      justify-content: center;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      /* border: 2px solid white; */
      height: 200px;
      width: 500px;
      color: rgb(0, 255, 42);
      text-align: center;
  }
  .btn{
      width: 100%;
      padding: 10px 60px;
      margin: 40px 0px;
      border-radius: 10px;
      border: 2px solid rgb(4, 4, 139);
      background-color: black;
      color: aliceblue;
      font-size: 30px;
  }
  .btn:hover{
      background-color:grey;
      color: rgb(228, 212, 184);
  }
  /* .con{
      display: flex;
      align-items: center;
      filter: invert(100%);
      justify-content: center;
  } */
.flexing{
    background-image: url(bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* align-items: center; */
    margin: 100px 2%;
    height: 600px;
    width: 1400px;
    border: 2px;
    border-radius: 200px;
    box-shadow: 0 0 10px #6c75f3;
}
.flex{
    background-image: url(bg3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* align-items: center; */
    margin: 100px 2%;
    height: 600px;
    width: 1400px;
    border: 2px;
    border-radius: 200px;
    box-shadow: 0 0 10px #6c75f3;
}
